<html>
<head>
  <meta charset="UTF-8">
  <title>投票：{{vote.name}}</title>
  <script type="text/javascript" src="{{url_for('static',filename='js/Vote.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/page.css')}}" />
</head>
 
<body>
  <div id="headline">
	<ul>
    <li><a href="/">首页</a></li>
    <li><a href="/participate">进行中的投票</a></li>
    <li><a href="/">关于</a></li>
	{% if user == "guest" %}
    <li class="user_info"><a href="/login" >登陆</a></li>
	{% else %}
	<li class="user_info"><a href="/logout">用户{{user}}，您好!点此登出</a></li>
	{% endif %}
    </ul>
  </div>
<div id="set_frame">
  <h2>公示页面</h2>
  <h3>投票信息</h3>
  <table class="vote_info">
  <tr>
    <th>投票名</th>
	<td>{{vote.name}}</td>
  </tr>
  <tr>
	<th>描述</th>
	<td>{{vote.descrip}}</td>
  </tr>
  <tr>
	<th>开始于</th>
	<td>{{vote.start}}</td>
  </tr>
  <tr>
	<th>结束于</th>
	<td>{{vote.end}}</td>
  </tr>
  <tr>
	<th>发起人</th>
	<td>{{vote.admin_user}}</td>
  </tr>
  </table>
  {% if questions %}
    {% if vote.audit and ballot_list %}
    <h3>选票列表</h3>
	<table class="ballot_list">
	<thead>
	  <tr>
		<th>投票者邮箱</th>
		<th>选票hash值</th>
	  </tr>
	</thead>
	<tbody>
	  {% for blt in ballot_list %}
	  <tr>
		<td>{{blt[0]}}</td>
		<td>{{blt[1]}}</td>
	  </tr>
	  {% endfor%}
	</tbody>

    {% endif %}
	</table>
    <h3>问题列表</h3>
    <form>
	<table class="qst_list">
	{% for qst in questions %}
    <tr><th>
	问题{{loop.index}}.{{qst[0]}}
	</th></tr>
	<div id="qst{{loop.index0}}">
      {% set outer_loop = loop %}
	  {% for op in qst[1]%}
		<tr><td>
		  <label for="{{qst[0]}}">{{op}}</label>
		  {%if not vote.audit %}
		  票数：{{result[outer_loop.index0][loop.index0]}}
		  {%endif%}
		</td></tr>
	  {% endfor %}
	</div>
    {% endfor %}
	</table>
	{% if ballot %}
	<h3>您的选票信息</h3>
	<table class="my_ballot">
	  <tr>
		<th>密文</th>
		<td>{{ballot.cipher}}</td>
	  </tr>
	  <tr>
		<th>hash值</th>
		<td>{{ballot.hash}}</td>
	  </tr>
	</table>
    

	{% endif %}
    
    </form>
  {% endif %}
  <div align="center">
  {%if user==vote.admin_user and vote.audit %}
    <input type="button" id="end_pub" class="work_btn"  value="结束公示" onclick="end_audit({{vote.id}})"/>
  {%endif%}
  {%if not vote.audit and vote.finish %}
	<input type="button" id="audit" class="work_btn"  value="进入选票审查页面" onclick="window.location.href='/audit/{{vote.id}}'"/>
  {%endif%}
  <input type="button" id="back" class="work_btn"  value="返回首页" onclick="window.location.href='/'"/>
  </div>
  
</div> 
</body>
</html>